$primaryColor: #263238;
$secondaryColor:  #FFC550;
$nameColor: #F0E3DC;
$iconHoverColor: #eece1a;
$white: #fff;
$showHomeImage: true;
$homeImage: url('../img/background3.jpg');
$backgroundOpacity: 0.8;