$primaryColor: #263238;
$secondaryColor:  #FFC550;
$nameColor: #F0E3DC;
$iconHoverColor: #eece1a;
$white: #fff;
$showHomeImage: true;
$homeImage: url('../img/background3.jpg');
$backgroundOpacity: 0.8;
$vkIconColor: #45668e;
$fbIconColor: #3b5998;
$linkedinIconColor: #0077b5;
$githubIconColor: #6e5494;